<html lang="en">

<head>
    {% include 'layout/head.html' ignore missing %}
    <title>Updates</title>
    <link rel="stylesheet" href="/static/css/UpdatesPage.css">
</head>

<body>
    <!-- navbar -->
    {% include 'layout/navbar.html' ignore missing %}
    <!-- content -->
    <div class="container">
        <h1>Update 3.0.1</h1>
        <span>Mei 05, 2020 @ 16:00</span>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus ut mollitia eius facilis totam suscipit,
            reiciendis quod dolore. Architecto nemo corrupti placeat dolore nostrum ratione qui dignissimos ea!
            Doloremque, porro.</p>
        <h1>Update 3.0.0</h1>
        <span>Mei 05, 2020 @ 16:00</span>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus ut mollitia eius facilis totam suscipit,
            reiciendis quod dolore. Architecto nemo corrupti placeat dolore nostrum ratione qui dignissimos ea!
            Doloremque, porro.</p>
    </div>
</body>

</html>